:root {
    --text-font-family: "Poppins", Helvetica;
    --accent-colour: rgb(65, 105, 225);
    --soft-accent-colour: rgba(65, 105, 225, 0.6);
    --accent-colour-hard: rgb(15, 58, 185);
    --accent-colour-2: rgb(164, 187, 255);
    --background-colour: rgb(255, 255, 255);
    --text-colour: rgb(14, 14, 14);
    --text-color-soft: rgba(14, 14, 14, 0.8);
    --grey: rgb(128, 128, 128);
    --soft-grey: rgba(128, 128, 128, 0.2);
    --background-colour-transparent: rgba(255, 255, 255, 0);
    --copyright-color: rgba(128, 128, 128, 0.4);
    
}